*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*.apk
app/release/output.json

# external dependencies (with their own repositories and life cycles)
app/src/main/java/com/asofterspace/toolbox